@media screen and (max-width: 640px) {
  /* line 2, ../sass/portfolio.scss */
  #big_nav_container {
    display: none;
  }

  /* line 3, ../sass/portfolio.scss */
  .nav_container {
    width: 320px !important;
  }

  /* line 4, ../sass/portfolio.scss */
  .header_container {
    width: 320px !important;
    margin: 0 auto;
  }

  /* line 5, ../sass/portfolio.scss */
  .header_container_pjCareer {
    display: none;
  }

  /* line 6, ../sass/portfolio.scss */
  .header_container_pjHead {
    width: 100% !important;
    margin-top: 50px;
  }

  /* line 7, ../sass/portfolio.scss */
  .pjHead_img {
    width: 100% !important;
  }

  /* line 8, ../sass/portfolio.scss */
  .content_container {
    width: 320px !important;
  }

  /* line 9, ../sass/portfolio.scss */
  .column {
    margin: 0 auto;
    float: left;
  }

  /*#column3 {display: none;}*/
  /* line 11, ../sass/portfolio.scss */
  .project_container {
    width: 320px !important;
  }

  /* line 12, ../sass/portfolio.scss */
  .project_title {
    width: 100% !important;
  }

  /* line 13, ../sass/portfolio.scss */
  .project_list {
    width: 320px !important;
  }

  /*#project_logo3 {display: none;}*/
  /* line 15, ../sass/portfolio.scss */
  .project_logo {
    margin: 0 auto;
  }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
  /* line 19, ../sass/portfolio.scss */
  #small_nav_container {
    display: none;
  }

  /* line 20, ../sass/portfolio.scss */
  .nav_container {
    width: 640px !important;
  }

  /* line 21, ../sass/portfolio.scss */
  .header_container {
    width: 640px !important;
    margin: 0 auto;
  }

  /* line 22, ../sass/portfolio.scss */
  .header_container_pjCareer {
    display: none;
  }

  /* line 23, ../sass/portfolio.scss */
  .header_container_pjHead {
    margin-left: 110px;
  }

  /* line 24, ../sass/portfolio.scss */
  .content_container {
    width: 640px !important;
  }

  /* line 25, ../sass/portfolio.scss */
  .column {
    margin: 0 auto;
    float: left;
  }

  /* line 26, ../sass/portfolio.scss */
  #column3 {
    display: none;
  }

  /* line 27, ../sass/portfolio.scss */
  .project_container {
    width: 640px !important;
  }

  /* line 28, ../sass/portfolio.scss */
  .project_title {
    width: 100% !important;
  }

  /* line 29, ../sass/portfolio.scss */
  .project_list {
    width: 640px !important;
  }

  /* line 30, ../sass/portfolio.scss */
  #project_logo3 {
    display: none;
  }

  /* line 31, ../sass/portfolio.scss */
  .project_logo {
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) {
  /* line 35, ../sass/portfolio.scss */
  #small_nav_container {
    display: none;
  }
}
/* line 38, ../sass/portfolio.scss */
nav {
  width: 100%;
  height: 40px;
  background-color: #029cbf;
  /*text-align: center;*/
}

/* line 45, ../sass/portfolio.scss */
.nav_container {
  width: 960px;
  height: 30px;
  /*background-color: #029cbf;*/
  /*background-color: gray;*/
  margin: 0 auto;
}

/* line 53, ../sass/portfolio.scss */
.nav_container li, a {
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  color: white;
  font-size: 1em;
  font-family: Arial;
  /*	text-align: center;
  	padding-right: 10px;
  	padding-left: 10px;*/
}

/* line 65, ../sass/portfolio.scss */
.nav_container a {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  /*padding-bottom: 5px;*/
  padding-top: 5px;
}

/* line 73, ../sass/portfolio.scss */
.nav_container .selected a {
  background-color: #01647b;
  border-bottom: 5px solid #01647b;
}

/* line 78, ../sass/portfolio.scss */
.nav_container a:hover {
  /*background-color: #01647b;*/
  border-bottom: 5px solid #5f01ae;
}

/* line 83, ../sass/portfolio.scss */
header {
  width: 100%;
  height: 400px;
  background: #7ee6fe;
  background: -moz-radial-gradient(center, ellipse cover, #7ee6fe 0%, #01647b 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #7ee6fe), color-stop(100%, #01647b));
  background: -webkit-radial-gradient(center, ellipse cover, #7ee6fe 0%, #01647b 100%);
  background: -o-radial-gradient(center, ellipse cover, #7ee6fe 0%, #01647b 100%);
  background: -ms-radial-gradient(center, ellipse cover, #7ee6fe 0%, #01647b 100%);
  background: radial-gradient(ellipse at center, #7ee6fe 0%, #01647b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ee6fe', endColorstr='#01647b',GradientType=1 );
}

/* line 95, ../sass/portfolio.scss */
.header_container {
  width: 960px;
  height: 400px;
  /*background-color: gray;*/
  margin: 0 auto;
}

/* line 102, ../sass/portfolio.scss */
.header_container_pjHead {
  width: 420px;
  height: 400px;
  /*background-color: green;*/
  float: left;
}

/* line 109, ../sass/portfolio.scss */
.textName {
  color: white;
  font-family: Arial;
  font-size: 2em;
  font-style: bold;
  text-shadow: 2px 3px 4px black;
  /*background-color: yellow;*/
  margin: 0 auto;
  text-align: center;
  padding-left: 10px;
}

/* line 121, ../sass/portfolio.scss */
.header_container_pjCareer {
  width: 540px;
  height: 400px;
  /*background-color: yellow;*/
  float: left;
  /*text-align: center;*/
  /*line-height: 200px;*/
}

/* line 130, ../sass/portfolio.scss */
.textCareer {
  color: white;
  font-family: Arial;
  font-size: 1.5em;
  font-style: bold;
  text-shadow: 2px 3px 4px black;
  padding-left: 50px;
  padding-top: 20px;
}

/* line 140, ../sass/portfolio.scss */
.content {
  width: 100%;
  /*height: 400px;*/
}

/* line 145, ../sass/portfolio.scss */
.content_container {
  width: 960px;
  margin: 0 auto;
  /*background-color: green;*/
}

/* line 151, ../sass/portfolio.scss */
.content_container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

/* line 160, ../sass/portfolio.scss */
.column {
  width: 300px;
  height: 600px;
  float: left;
  margin: 10px;
  /*margin: 0 auto;*/
}

/* line 168, ../sass/portfolio.scss */
.column_img {
  width: 300px;
  height: 300px;
}

/* line 173, ../sass/portfolio.scss */
.column_img:hover {
  /*box-shadow: 10px 10px 5px #888888;*/
}

/* line 177, ../sass/portfolio.scss */
.column_text {
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 30px;
  float: left;
  /*border: 1px solid black;*/
  color: #0f738a;
  font-family: Arial;
}

/* line 188, ../sass/portfolio.scss */
.title {
  font-size: 1.25em;
  font-style: bold;
  font-family: Arial;
}

/* line 194, ../sass/portfolio.scss */
.small_title {
  font-size: 0.5em;
  font-style: bold;
  font-family: Arial;
}

/* line 200, ../sass/portfolio.scss */
.column_content {
  font-size: 1em;
  font-style: normal;
  font-family: Arial;
}

/* line 206, ../sass/portfolio.scss */
.project {
  width: 100%;
  /*background-color: green;*/
  margin-top: 30px;
}

/* line 212, ../sass/portfolio.scss */
.project_container {
  width: 960px;
  margin: 0 auto;
}

/* line 217, ../sass/portfolio.scss */
.project_title {
  width: 100%;
}

/* line 221, ../sass/portfolio.scss */
.project_list {
  width: 100%;
  /*border: 1px solid black;*/
  text-indent: center;
  /*height: 300px;*/
}

/*.project_container:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}*/
/* line 237, ../sass/portfolio.scss */
footer {
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #028cac;
}

/* line 244, ../sass/portfolio.scss */
.footer_container {
  bottom: 0px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 252, ../sass/portfolio.scss */
.footer_content {
  color: white;
  font-size: 1em;
  text-align: center;
  line-height: 40px;
}

/* line 259, ../sass/portfolio.scss */
.project_title {
  width: 960px;
  height: 50px;
}

/* line 265, ../sass/portfolio.scss */
.right_side {
  position: absolute;
  z-index: -2;
  margin-top: 25px;
  width: 200px;
  height: 600px;
  float: right;
}

/* line 274, ../sass/portfolio.scss */
.sonic_side {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 600px;
  float: right;
}

/*.label {
	padding-top: 10px;
	right: 10px;
	top: 500px;
	position: absolute;
	z-index: 1;
	width: 320px;
	height: 500px;
}*/
/* line 292, ../sass/portfolio.scss */
.label_facebook {
  right: 10px;
  top: 100px;
  position: absolute;
  z-index: 1;
  /*float: left;
  /*top: 500px;*/
  width: 60px;
  height: 65px;
  overflow: hidden;
  /*background-color: green;*/
  -webkit-transition: All 0.2s ease;
}

/* line 305, ../sass/portfolio.scss */
.label_facebook:hover {
  width: 300px;
}

/* line 309, ../sass/portfolio.scss */
.label_linkedin {
  right: 10px;
  top: 170px;
  position: absolute;
  z-index: 1;
  /*float: left;*/
  /*top: 500px;*/
  width: 60px;
  height: 65px;
  overflow: hidden;
  /*background-color: green;*/
  -webkit-transition: All 0.2s ease;
}

/* line 322, ../sass/portfolio.scss */
.label_linkedin:hover {
  width: 300px;
}

/* line 326, ../sass/portfolio.scss */
.label_google {
  right: 10px;
  top: 240px;
  position: absolute;
  z-index: 1;
  /*float: left;*/
  /*top: 500px;*/
  width: 60px;
  height: 65px;
  overflow: hidden;
  /*background-color: green;*/
  -webkit-transition: All 0.2s ease;
}

/* line 339, ../sass/portfolio.scss */
.label_google:hover {
  width: 300px;
}

/* line 342, ../sass/portfolio.scss */
.label_twitter {
  right: 10px;
  top: 310px;
  position: absolute;
  z-index: 1;
  /*float: left;*/
  /*top: 500px;*/
  width: 60px;
  height: 65px;
  overflow: hidden;
  /*background-color: green;*/
  -webkit-transition: All 0.2s ease;
}

/* line 355, ../sass/portfolio.scss */
.label_twitter:hover {
  width: 300px;
}
